{% load static %}
{% block content %}
<!--footer-->
<footer class="text-center text-white bg-black mt-5 p-4" style="margin-bottom: -25px;">
    
    <div class="container p-1 d-flex flex-column align-items-center">
        <a class="navbar-brand" href="index.html" style="color: orangered;">AFRO <span style="color: white;">NEWSHUB</span></a>
      <!-- Section: Social media -->
      <section class="">
        <!-- Facebook -->
        <a class="btn btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
         <i class="fab fa-facebook-f"></i>
        </a>
  
        <!-- Twitter -->
        <a class="btn btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
         <i class="fab fa-twitter"></i>
        </a>
  
        <!-- Google -->
        <a class="btn btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
         <i class="fab fa-google"></i>
        </a>
  
        <!-- Instagram -->
        <a class="btn btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
         <i class="fab fa-instagram"></i>
        </a>
      <!-- Section: Social media ends -->
    </div>
    
  
    <!-- Copyright -->
    <div class="text-center text-white" style="background-color: rgb(0, 0, 0);">
     
      <h6 class="text-white"> © 2021 Copyright AfroNewsHub</h6>
    </div>
    <!-- Copyright -->
  </footer>
  {% endblock %}